Pillow==10.4.0
svglib==1.5.1
reportlab==4.2.5
PyMuPDF==1.24.11
PySide2==5.15.2.1
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
cssselect2==0.7.0
tinycss2==1.2.1
webencodings==0.5.1
importlib-metadata==8.5.0
zipp==3.20.2
packaging==24.2
setuptools==70.3.0
lxml==6.1.3
